@import "tailwindcss";

:root {
  --background: #ffffffda;
  --fontcolor: black;
  --hovercolor: #69cbfc;
}

[data-theme='dark'] {
  --background: #616369;
  --fontcolor: #FBFDFE;
  --hovercolor: #C4EBFF;
}

h1, h3, p {
  color: var(--fontcolor);
}

h2 {
  color: var(--hovercolor);
}

a {
  font-size: 36px;
}

h3 {
  font-size: 18px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.icon , li{
  color: var(--fontcolor);
}

.icon:hover {
  color: var(--hovercolor);
}

p {
  margin: 20px;
}

#copyright {
  bottom: 0;
}