@import "tailwindcss";

:root {
  --background: #ffffff;
  --fontcolor: #BCBCBC;
}

h1, h3, p {
  color: var(--fontcolor);
}

a {
  font-size: 36px;
}

h1 {
  font-size: 64px;
}

h3 {
  font-size: 18px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}